@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

/*============================ 
            INDEX OF 
1. BASIC
2. HEADER
3. HERO
============================*/

/*===========================
            1.BASIC 
===========================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}
section{
    padding: 100px 0px;
}
.mybtn{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 40px;
    background-color: #3300ff;
    color: #fff;
    transition: 0.4s ease;
}
.mybtn:hover{
    background-color: #ff9966;
    color: #fff;
}


/*===========================
            2.HEADER
===========================*/
header {
    margin-top: 76px;
    margin-bottom: 10px;
}
header .navbar-brand{
    color: #ff9966;
    font-size: 30px;
    font-weight: 700;
}
header .navbar-brand span{
    color: #333366;
    margin-left: -5px;
}
header .nav-link{
    color: #333366;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    transition: 0.4s ease;
}
header .nav-link:hover{
    color: #ff9966;
}
/*===========================
            3. HERO
===========================*/
#hero{
    height: 100vh;
    background-image: url('assets/img/hero_bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}
#hero .left-area{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#hero .left-area .text{
    background-color: #e2eaed;
    display: inline-block;
}
#hero .left-area .text i{
    padding: 5px;
    background-color: #ff9966;
    color: #fff;
    font-size: 22px;
}
#hero .left-area .text span{
    font-size: 18px;
    font-weight: 500;
    color: #333366;
    padding-right: 45px;
}
#hero .left-area h2{
    font-size: 60px;
    font-weight: 700;
    color: #333366;
    margin-top: 30px;
}
#hero .left-area p{
    font-size: 18px;
    font-weight: 400;
    color: #666;
    margin-top: 16px;
}
#hero .left-area .btn-group{
    margin-top: 8px;
}
#hero .left-area .btn2{
    color: #3300ff;
    margin-top: 5px;
    margin-left: 12px;
    transition: 0.4s ease;
}
#hero .left-area .btn2:hover{
    color: #ff9966;
}
#hero .img{
    margin-left: 156px;
}
/*===========================
            4.SPONSOR
===========================*/
#sponsor .header p{
    color: #333366;
    margin-bottom: 35px;
}
/*===========================
            5. FEATURE
===========================*/
#feature .f-header{}
#feature .f-header h2{
    font-size: 36px;
    color: #333366;
    font-weight: 600;
    margin-bottom: 25px;
}
#feature .f-header p{
    font-style: 16px;
    color: #666;
}
#feature .f-list{}
#feature .f-list .s-feature{
    margin-top: 60px;
}
#feature .f-list .s-feature img{
    width: 95px;
    height: 95px;
}
#feature .f-list .s-feature .text{
    margin-left: 25px;
}
#feature .f-list .s-feature .text h3{
    font-size: 20px;
    font-weight: 600;
    color: #ff6666;
}
/*===========================
            6. JACKPOT
===========================*/
#jackpot .jack-header h2{
    font-size: 40px;
    font-weight: 600;
    color: #333366;
}
#jackpot .jack-header p{
    color: #666;
    margin-top: 34px;
    margin-left: 34px;
}
#jackpot .jack-item{
    margin: 103px 0px;
}
#jackpot .jack-item .col-md-4{
    padding-right: 130px;
}
#jackpot .jack-item .col-md-4:last-child{
    padding-right: none;
}

#jackpot .jack-item .s-jack-i h3{
    font-size: 20px;
    font-weight: 600;
    color: #ff6666;
    margin-top: 35px;
    margin-bottom: 15px;
}
#jackpot .jack-design .text-area{
    margin-left: 80px;
}
#jackpot .jack-design .text-area h2{
    font-size: 36px;
    font-weight: 600;
    color: #333366;
}
/*===========================
            7. CHOOSE
===========================*/
#choose{
    border-top: 1px solid rgb(212, 212, 212);
}
#choose .c-header h2{
    font-size: 36px;
    font-weight: 600;
    color: #333366;
}
#choose .c-header p{
    color: #666;
    padding: 38px 0px;
}
#choose .c-list .single{
    padding: 60px;
}
#choose .c-list .single h3{
    font-size: 20px;
    font-weight: 600;
    color: #333366;
    margin: 20px;
}
/*===========================
            8. U-FEATURE
===========================*/
#u-feature .u-f-header h2{
    font-size: 36px;
    font-weight: 600;
    color: #333366;
    margin-bottom: 30px;
}
#u-feature .f-list .single{
    padding-top: 30px;
}
#u-feature .f-list .single h2{
    font-size: 20px;
    font-weight: 600;
    color: #333366;
    margin: 20px 0px;
}
#u-feature .f-list a{
    margin-top: 25px;
}
/*===========================
            9. CHARGE
===========================*/

#charge{
    border-bottom: 1px solid rgb(212, 212, 212);
}
#charge .header h2{
    font-size: 36px;
    font-weight: 600;
    color: #333366;
}
#charge .header p{
    color: #666;
    padding: 36px 0px;
}
#charge button{
    border: 1px solid rgb(214, 214, 214);
    display: block;
    margin-left: 250px;
    margin-bottom: 50px;
}
#charge button .btn1{
    background: none;
    padding-left: 25px;
    padding-right: 25px;
    color: #666;
    text-decoration: none;
    font-weight: 600;
}
#charge .charge-list .single{
    box-shadow: 1px 1px 20px rgb(214, 214, 214);
    display: inline-block;
    border-radius: 10px;
    
}
#charge .charge-list .single .head{
    background-color: #F5F8F9;
    padding: 45px 0px;
}
#charge .charge-list .single .head h2{
    color: #333366;
    font-weight: 600;
    font-size: 60px;
}
#charge .charge-list .single .head h2 span{
    font-size: 18px;
    color: #666;
}
#charge .charge-list .single .head h3{
    color: #333366;
    font-size: 20px;
    font-weight: 600;
}
#charge .charge-list .single .body{
    padding: 10px 55px;

}
#charge .charge-list .single .body p{
    color: #999;
    margin: 30px;
}
#charge .charge-list .single .body .trial{
    color: #3300ff;
    font-weight: 600;
}
#charge .charge-list .pro{
    margin-left: 40px;
    border: 4px solid #e0e0e0;
}
/*===========================
            10. CLIENT
===========================*/
#client .text-area h2{
    color: #333366;
    font-size: 36px;
    font-weight: 600;
}
#client .text-area p{
    color: #666;
    margin: 30px 0px;
}
#client .text-area .icon i{
    color: #ffcc00;
    font-size: 25px;
}
#client .text-area h3{
    font-size: 20px;
    color: #333366;
    font-weight: 600;
    padding: 30px 0px;
}
#client .text-area .footer{
    margin-top: 20px;
}
#client .text-area .name{
    margin-left: 20px;
    margin-top: 25px;
}
#client .text-area .name h3{
    padding: 0px !important;
    margin-bottom: -25px;
}
#client .text-area .name p{
    padding: 0px !important;
}
#client .text-area .icon-box i{
    padding: 10px;
    border: 1px solid #999;
}
#client .text-area .icon-box .active{
    color: #3300ff;
    background-color: #F1F5FA;
    border: none;
}